@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "SupplierReport";
}


<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Supplier Report</h4>
                <h6>Manage your Supplier Report</h6>
            </div>
        </div>

        <div class="card">
            <div class="card-body">


                            <div class="table-top">
                                <div class="search-set">
                                    <div class="search-input">
                                        <a class="btn btn-searchset"><img src="~/img/icons/search-white.svg" alt="img"></a>
                                    </div>
                                </div>
                               
                            </div>

                            <div class="table-responsive">
                                <table class="table datanew">
                                    <thead>
                                        <tr>
                                            <th>Supplier Name</th>
                                            <th>Product Name</th>
                                            <th>QTY</th>
                                            <th>Total Price</th>
                                            <th>Category</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var itemM in Model)
                                        {
                                            @foreach(var item in itemM.Products)
                                            {
                                                <tr>                                                  
                                                    <td>@itemM.SupplierName</td>
                                                    <td class="productimgname">
                                                        <a class="product-img">

                                                            @if (item.ProductImage == null || item.ProductImage == "")
                                                            {
                                                                <img src="~/img/notfound.jpg" alt="img">
                                                            }
                                                            else
                                                            {
                                                                <img src="@item.ProductImage" alt="img">
                                                            }
                                                        </a>
                                                        <a href="javascript:void(0);">@item.ProductName</a>
                                                    </td>
                                                    <td>@item.QTY</td>
                                                    <td>@(item.ProductPrice * item.QTY)</td>
                                                    <td>@item.CategoryName</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
